<main class="relative">
  <img
    src="/assets/pattern-rings.svg"
    alt=""
    aria-hidden="true"
    class="absolute left-[-18%] top-[3%] desktop:hidden"
  />
  <div class="container flex flex-col items-center text-center">
    <h1 class="pt-[90px] tablet:pt-[40px]">
      ¡Encantado de conocerte! Soy <span
        class="border-b-[6px] border-b-cyan inline-block tablet:border-b-[3px]"
        >Renzo</span
      >.
    </h1>
    <p class="mt-[60px] mb-[45px] w-full max-w-[450px] tablet:max-w-max">
      Resido en el Perú y soy un desarrollador front-end apasionado por crear
      sitios web accesibles que les encanten a los usuarios.
    </p>
    <a href="#Contacto" class="btn-primary">Contáctame</a>
  </div>
</main>
