---
import "../styles/index.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content="Renzo Benavente - Desarrollador Frontend" />
    <meta
      name="description"
      content="Renzo Benavente es un desarrollador Frontend que se especializa en el desarrollo de sitios web interactivos y atractivos visualmente. "
    />
    <meta
      name="keywords"
      content="renzo, benavente, desarrollador, developer, frontend, página web, sitio web"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Renzo Benavente - Desarrollador Frontend</title>
  </head>
  <body
    class="bg-black overflow-x-hidden scroll-smooth selection:bg-cyan text-white"
  >
    <slot />
  </body>
</html>
