<div
  class="container flex items-center justify-between mobile:flex-col mobile:gap-[30px]"
>
  <a href="#" class="text-[26px] font-bold tracking-[-0.6px]">renzobenavente</a>
  <ul class="flex items-center gap-[31px] pr-[25px] z-10">
    <li>
      <a href="https://github.com/Renzorr?tab=repositories" target="_blank"
        ><img
          src="/assets/icon-github.svg"
          alt="Icono github"
          width="25"
          height="25"
        /></a
      >
    </li>
    <li>
      <a href="https://www.linkedin.com/in/renzo-benavente-6a73b2243/" target="_blank"
        ><img
          src="/assets/icon-linkedin.svg"
          alt="Icono linkedin "
          width="25"
          height="25"
        /></a
      >
    </li>
    <li>
      <a href="https://twitter.com/benaventer01" target="_blank"
        ><img
          src="/assets/icon-twitter.svg"
          alt="Icono twitter "
          width="25"
          height="25"
        /></a
      >
    </li>
  </ul>
</div>
